<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso Vue</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/99fd989388.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/style.css">

    
</head>
<body>
    <div class="container" id="app">
        <div class="col-sm-6 col-offset-sm-3">
                <h1>{{heading}}</h1>

                <div class="form-group">
                    <label for="make"><i class="fas fa-car fa-lg"></i> Marca de Vehiculos :</label>
                     <select class="form-control" name="make" id="make" v-model="make">
                        <option :value="null" disabled selected>Selecciona la marca</option>
                         <option v-for="option in makes_options" v-bind:value="option.id">{{option.text}}</option>
                     </select>
                </div>
                <div class="form-group">
                    <label for="model"><i class="fas fa-car-side fa-lg"></i> Modelo de Vehículos :</label>
                     <select class="form-control" name="model" id="model" v-model="model">
                        <option :value="null" disabled selected>Selecciona la marca</option>
                         <option v-for="option in model_options[make]" v-bind:value="option.id" v-bind:key="option.id">{{option.text}}</option>
                     </select>
                </div>
        </div>
    </div>

      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="trabajo.js"></script>
      <script src="./style/main.js"></script>
      
</body>
</html>